{% extends 'base.html' %}
{% block content %}

<h1>Child Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ child.name }}</span>
        <p>Date of Birth: {{ child.DoB }}</p>
        <p>Gender: {{ child.gender }}</p>
        <p>Allergies: {{ child.allergies }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'children_update' child.id %}">Edit</a>
        <a href="{% url 'children_delete' child.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ child.name}}'s Parents</h3>
    {% if guardians %}
    {% for guardian in guardians %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span >{{ guardian.name }}</span> 
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Parents 😿</h5>
    {% endif %}
  </div>
{% endblock %}