{% extends 'base.html' %}
{% block content %}

<h1>Child Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ child.name }}</span>
      </div>
      <div class="card-action">
        <a href="{% url 'children_update' child.id %}">Edit</a>
        <a href="{% url 'children_delete' child.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ child.name}}'s Parents</h3>
    {% if child.guardian.count %}
      {% for child in guardian.children.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span >{{ child.name }}</span> 
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Parents 😿</h5>
    {% endif %}
  </div>
{% endblock %}