{% extends 'base.html' %}
{% block content %}

<h1>Activities List</h1>

<div class="teacher-main">
  <div id="name-title">
    <p style="font-size: 2rem;">Welcome</p>
  </div>
  <div class="collection">

    <a href="{% url 'dashboard' %}">My Classroom</a>
    <a href="{% url 'guardians_index' %}">Guardians</a>
    <a href="{% url 'children_create' %}">Add Child</a>
    
  </div>
</div>


{% for activity in activity_list %}
  <a href="{% url 'tasks_index' %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ activity.name }}</span>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}