{% extends 'base.html' %}
{% block content %}

<h1>Teachers</h1>

{% for teacher in teacher %}

    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ teacher.name }}</span>
      </div>
    </div>

{% endfor %}

<h1>Students</h1>
{% for student in students %}
  <a href="{% url 'children_detail' student.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ student.name }}</span>
      </div>
      <div class="card-action">
        {% if not student.attendance_today %}
          <a href="{% url 'attendance' student.id 'present' %}">Present</a>
          <a href="{% url 'attendance' student.id 'absent' %}">Absent</a>
        {% else %}
          <p>Attendance already marked</p>
        {% endif %}
      </div>
      <div class="card-action">
        {% if not student.assessment_today %}
          <a href="{% url 'assessment_create' student.id 'Great' %}">Great</a>
          <a href="{% url 'assessment_create' student.id 'Ok' %}">Ok</a>
          <a href="{% url 'assessment_create' student.id 'Bad' %}">Tough Day</a>
        {% else %}
          <p>Assessment today submitted</p>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}