{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="teacher-main">
  <div id="name-title">
    <p>Welcome</p>
    {% for teacher in teacher %}
    <h1>{{ teacher.name }}</h1>
    {% endfor %}
  </div>
  <div class="collection">
    <a href="{% url 'dashboard' %}">My Classroom</a>
    <a href="{% url 'guardians_index' %}">Guardians</a>
    <a href="{% url 'children_create' %}">Add Child</a>
    <a href="{% url 'tasks_index' %}">Activities</a>
    <a href="{% url 'task_create' %}">Create Activity</a>
  </div>
</div>

<div class="teacher-content">


  {% for student in students %}
      <div class="card">
        <a href="{% url 'children_detail' student.id %}">
          <div class="card-content flex">
            <div class="name">
              <h3 class="person-name">{{ student.name }}</h3>
              <p>Date of Birth: {{student.DoB}}</p>
            </div>
            <div class="attendance">
              {% if not student.attendance_today %}
              <a href="{% url 'attendance' student.id 'present' %}">Present</a>
              <a href="{% url 'attendance' student.id 'absent' %}">Absent</a>
            {% else %}
              <p>Attendance marked</p>
            {% endif %}
            </div>
          </div>
        </a>
        <div class="card-action">
          {% if not student.assessment_today %}
            <a href="{% url 'assessment_create' student.id 'Great' %}">Great</a>
            <a href="{% url 'assessment_create' student.id 'Ok' %}">Ok</a>
            <a href="{% url 'assessment_create' student.id 'Bad' %}">Tough Day</a>
          {% else %}
            <p>Assessment today submitted</p>
          {% endif %}
        </div>
        <div class="card-action">
            {% if not student.feeding_skipped_breakfast_today %}
            <a href="{% url 'feeding_create' student.id 'Skipped Breakfast' %}">No Breakfast</a>
            {% endif %}
            {% if not student.feeding_skipped_lunch_today %}
            <a href="{% url 'feeding_create' student.id 'Skipped Lunch' %}">No Lunch</a>
            {% endif %}
            {% if not student.feeding_skipped_snack_today %}
            <a href="{% url 'feeding_create' student.id 'Skipped Snack' %}">No Snack</a>
            {% endif %}
        </div>
      </div>
  {% endfor %}
</div>

{% endblock %}