{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Little Learners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav>
        
            
                <ul>
                    <li><a href="{% url 'home' %}" class="">&nbsp;&nbsp;<img class="logo" src="{% static 'images/logo.jpg' %}" alt=""></a></li>
                </ul>
                <ul class="right">

                    {% if user.is_authenticated %}
                        {% if user.guardian %}
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% endif %}
                    {% else %}                   
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                  </ul>
            
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2023 Little Teachers &nbsp;</div>
    </footer>

</body>
</html>
