body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}


nav {
  height: 6rem;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  padding: .3rem 1.2rem;
  /* position: relative;
  left: 0;
  right: 0; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav>ul>li>a {
  display: flex;
  align-items: center;
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: rgb(150, 147, 168);
  font-family: Montserrat;
  transition: color .3s;
}

nav>ul>li>a:hover {
  color: rgb(245, 75, 82);
  background-color: rgb(255, 255, 255);
}

.logo {
  height: 5.0rem;
  width: 9.0rem;
  padding: .2rem 0;
  opacity: 1.0;
  transition: 0.3s;
}


.logo:hover {
  transform: scale(1.0);
  opacity: 0.5;
}

.teacher-main {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 20%;
  height: calc(100% - 6rem);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}


.teacher-content {
  margin-top: 6rem;
  margin-left: 20%;
  padding: 2rem;
  padding-top: 1rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2406%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2407)'%3e%3c/rect%3e%3cpath d='M749.52 21.91L758.22 21.91L758.22 30.19L749.52 30.19z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M1243.23 423.35a7.18 7.18 0 1 0-13.83-3.88z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M59.61 402.81L105.91 402.81L105.91 449.11L59.61 449.11z' stroke='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M17.97 135.74L27.16 135.74L27.16 148.63L17.97 148.63z' stroke='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M1228.74 330.57 a39.55 39.55 0 1 0 79.1 0 a39.55 39.55 0 1 0 -79.1 0z' stroke='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M805.29 392.59 a6.37 6.37 0 1 0 12.74 0 a6.37 6.37 0 1 0 -12.74 0z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M126.57 292.95L180.67 292.95L180.67 307.63L126.57 307.63z' stroke='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M792.02 304.04 a55.94 55.94 0 1 0 111.88 0 a55.94 55.94 0 1 0 -111.88 0z' fill='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M779.2 232.52L781.42 232.52L781.42 234.74L779.2 234.74z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M240.75 177.63 a39.54 39.54 0 1 0 79.08 0 a39.54 39.54 0 1 0 -79.08 0z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M249.83 278L278.04 278L278.04 306.21L249.83 306.21z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M480.17 403.32L507.74 403.32L507.74 433.37L480.17 433.37z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M989.31 80.33L1000.08 80.33L1000.08 115.13L989.31 115.13z' fill='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M381.59 303.27a33.85 33.85 0 1 0-35.56-57.61z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M918.05 247.68 a26.45 26.45 0 1 0 52.9 0 a26.45 26.45 0 1 0 -52.9 0z' fill='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M998.42 250.81L1051.55 250.81L1051.55 281.62L998.42 281.62z' fill='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1120.58 486.35 a39.82 39.82 0 1 0 79.64 0 a39.82 39.82 0 1 0 -79.64 0z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M319.33 184.18a47.48 47.48 0 1 0-18.53 93.13z' stroke='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M286.8 514a55.41 55.41 0 1 0-21.5-108.71z' fill='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M61.46 231.24L113.68 231.24L113.68 237.84L61.46 237.84z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M47.01 32.39a36.52 36.52 0 1 0-32.01 65.65z' stroke='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M360.37 157.36L391.99 157.36L391.99 188.98L360.37 188.98z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M446.5 168.67L461.62 168.67L461.62 200.91L446.5 200.91z' stroke='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1192.7 230.2L1232.85 230.2L1232.85 248.67L1192.7 248.67z' stroke='rgba(244%2c 129%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M201.37 116.06L226.76 116.06L226.76 124.58L201.37 124.58z' stroke='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M409.44 389.44L419.65 389.44L419.65 399.65L409.44 399.65z' fill='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1231.18 446.46L1256.43 446.46L1256.43 471.71L1231.18 471.71z' stroke='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M485.42 398.96 a13.19 13.19 0 1 0 26.38 0 a13.19 13.19 0 1 0 -26.38 0z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M1198.02 243.86 a38.37 38.37 0 1 0 76.74 0 a38.37 38.37 0 1 0 -76.74 0z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M377.99 91.75L396.48 91.75L396.48 118.24L377.99 118.24z' stroke='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M307.19 552.09 a34.39 34.39 0 1 0 68.78 0 a34.39 34.39 0 1 0 -68.78 0z' stroke='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3cpath d='M720.22 518.9a40.81 40.81 0 1 0-27.58-76.82z' stroke='rgba(203%2c 181%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M738.1 559.94L787.76 559.94L787.76 605.69L738.1 605.69z' fill='rgba(97%2c 210%2c 104%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2406'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2407'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 242%2c 240%2c 1)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
}

.teacher-content>h1 {
  text-align: center;
  margin: 0 auto .7rem auto;
}

#name-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: rgb(136, 189, 255);
}

#name-title>p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

#name-title>h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;

}

.collection {
  margin: 0;
}

.collection>a,
.collection>p {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.collection>p {
  margin: 0;
  border-bottom: 0px;
}

.collection>a:hover {
  background: rgb(244, 243, 244);
  color: rgb(4, 149, 185);
  font-size: 1.2rem;
}

.name {
  margin: 0;
  width: 80%;
}

.attendance {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.person-name {
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex>a {
  width: 80%;
}

.attendance>a {
  padding-right: 1rem;
}

.card-action>p {
  margin: 0;
}

.child-settings {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.child-settings>a {
  padding: .5rem;
  margin: .2rem;
}

#id_message {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  margin-top: .9rem;
}

.main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main>form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main>form>.btn {
  width: 30%;
}

.main>a {
  width: 40%;
}

.home-page {
  margin-top: 10rem;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);

  }

  to {
    transform: translateX(0);
  }

}

.move {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;

  transform: translateX(-150px)
}

h1 {
  font-size: medium;
}



.rotate {

  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);

  }


}

.shape_effect div {
  z-index: 2;

}

.shape_effect .plane {
  position: absolute;
  bottom: 5%;
  right: -7%;
  width: 15%;
  z-index: 5;
}

.shape_effect .sun {
  position: absolute;
  bottom: 13%;
  left: 10%;
  width: 70px;
}


.shape_effect .shape1 {
  position: absolute;
  top: 7%;
  left: 55%;
}

.shape_effect .shape2 {
  position: absolute;
  top: 35%;
  left: 2%;
  width: 5%;
}

.shape_effect .shape5 {
  position: absolute;
  top: 5%;
  right: 10%;
}

.card-home {
  width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 2px 16px;

}


.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(66, 181, 253, 0.2);
}

.container-home {
  padding: 2px 15px;

}

.container-home p {
  flex: 1 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 80vh;
}

.children {
  width: 90%;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  animation-name: move-up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-up-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-6rem);
  }
}

.create {
  margin-top: 6rem;
  margin-left: 20%;
  padding: 2rem;
  padding-top: 1rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}

.circle-child {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);

  }
}

label {
  font-size: 1.3rem;
}

.create>h1 {
  font-size: 2rem;
  margin: 0;
}