body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}


nav {
  height: 6rem;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  padding: .3rem 1.2rem;
  /* position: relative;
  left: 0;
  right: 0; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav>ul>li>a {
  display: flex;
  align-items: center;
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: rgb(150, 147, 168);
  font-family: Montserrat;
  transition: color .3s;
}

nav>ul>li>a:hover {
  color: rgb(245, 75, 82);
  background-color: rgb(255, 255, 255);
}

.logo {
  height: 5.0rem;
  width: 9.0rem;
  padding: .2rem 0;
  opacity: 1.0;
  transition: 0.3s;
}


.logo:hover {
  transform: scale(1.0);
  opacity: 0.5;
}

.teacher-main {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 20%;
  height: calc(100% - 6rem);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.teacher-content {
  margin-top: 6rem;
  margin-left: 20%;
  padding: 2rem;
  padding-top: 1rem;
  background-color: rgb(248, 248, 248);
}

.teacher-content>h1 {
  text-align: center;
  margin: 0 auto .7rem auto;
}

#name-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='35.7%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg %3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#name-title>p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;

}

#name-title>h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;

}

.collection {
  margin: 0;
}

.collection>a,
.collection>p {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.collection>p {
  margin: 0;
  border-bottom: 0px;
}

.collection>a:hover {
  background: rgb(244, 243, 244);
  color: rgb(4, 149, 185);
  font-size: 1.2rem;
}

.name {
  margin: 0;
  width: 80%;
}

.attendance {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.person-name {
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex>a {
  width: 80%;
}

.attendance>a {
  padding-right: 1rem;
}

.card-action>p {
  margin: 0;
}

.child-settings {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.child-settings>a {
  padding: .5rem;
  margin: .2rem;
}

#id_message {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  margin-top: .9rem;
}

.main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main>form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main>form>.btn {
  width: 30%;
}

.main>a {
  width: 40%;
}

.home-page {
  margin-top: 10rem;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);

  }
  to {
    transform: translateX(0);
  }

}

.move{
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;

  transform: translateX(-150px)
}

h1{
  font-size: medium;
}


.rotate {
  
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  
  }

  
}
.shape_effect div {
  z-index: 2;
  
}
.shape_effect .plane {
  position: absolute;
  bottom: 5%;
  right: -7%;
  width: 15%;
  z-index: 5;
 
  
  


  
}
.shape_effect .sun {
  position: absolute;
  bottom: 13%;
  left: 10%;
  width: 70px;
  transform: rotate(360deg);
  
}


.shape_effect .shape1 {
  position: absolute;
  top: 7%;
  left: 55%;
}
.shape_effect .shape2 {
  position: absolute;
  top: 35%;
  left: 2%;
  width: 5%;
}

.shape_effect .shape5 {
  position: absolute;
  top: 5%;
  right: 10%;
  animation-name: bounce;
}

.card-home {
  width: 400px;
  height:600px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-direction: row;
  justify-content: space-between;
  display:flex;
  flex-wrap: wrap;
  padding: 2px 16px;
 
}


.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(66, 181, 253, 0.2);
}

.container-home {
  padding: 2px 15px;
  
}
.container-home p{
  flex: 1 0 auto;
}
.flex-container{
  display:flex;
  justify-content: space-between;
}

